# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore Zend files
.buildpath
.project
.settings/

# Ignore Mac files
.DS_Store
*/.DS_Store

# Ignore PHP Storm config
.idea/

# Ignore SQL
*.sql
