html body {
    background-image: none;
    background-color: #cecece;
}

/** header **/


html #wrap #header {
    background-color: #106800;
    background-image: none;
    margin-bottom: 10px;
}
html #wrap #header #logo img {
    margin-top: 20px;
}
html #wrap #header #site-logo {
    padding: 0;
}

/**
h1#site-name a {
    background-image: url('/sites/all/themes/best_responsive/images/lagarto/site-name.png');
    height: 140px;
    width: 185px;
    background-repeat: no-repeat;
}
h1#site-name a span {
    display: none;
}
**/

/** main content **/

html #wrap #main-content {
    margin: 0;
}
html #wrap #main-content .full-width{
    width: 100%;
}
html #wrap #main-content .field-name-field-page-image {
    float: left;
}
html #wrap #main-content #site-slogan{
    padding: 10px;
    margin-bottom: 10px;
}
html #wrap #main-content #home-slider{
    margin-bottom: 10px;
}

