/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */


/*
 * Body
 */
body {
  margin: 0;
  padding: 0;
  background: #f6fafb;
}

#page-wrapper {

}

#page {
  margin-top: 65px;
  background: #fff;
  border: solid 1px #dee0df;
  padding-left: 50px;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
#header {

}

#header .section {
}
#logo-box { width: 253px }
#logo /* Wrapping link for logo */ {
  float: left; /* LTR */
  margin: 0;
  padding: 0;
}

#logo img {
  vertical-align: bottom;
}

#name-and-slogan /* Wrapper for website name and slogan */ {
  float: left;
}

h1#site-name,
div#site-name /* The name of the website */ {
  display: none;
}

#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}

#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

#site-slogan /* The slogan (or tagline) of a website */ {
  color: #193F05;
  font-size: .8em;
  margin-top: 1em;
}

.region-header /* Wrapper for any blocks placed in the header region */ {
  clear: both; /* Clear the logo */
}

/*
 * Main (container for everything else)
 */
#main-wrapper {
}

#main {
  margin-top: 50px;
}

/*
 * Content
 */
body{
  font-face: Verdana;
  color: #808080;
}
body #main #content a{
    color: #808080;
	text-decoration: underline;
}
body #main #content a:hover{
    color: #CE5000;
	text-decoration: none;
}
body p, li{
  font-size: .85em;
  line-height: 170%;
}
#content .section {
	
}

.region-highlighted {
}

.breadcrumb /* The path to the current page in the form of a list of links */ {
  padding-bottom: 0; /* Undo system.css */
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title /* Comment title */ {
  margin: 0;
}

.front #page-title { display: none }

tr.even /* Some tables have rows marked even or odd. */ {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */ {
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */
}

div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

div.status /* Normal priority messages */ {
}

div.warning,
tr.warning /* Medium priority messages */ {
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error /* High priority messages. See also the .error declaration below. */ {
}

.error /* Errors that are separate from div.messages status messages. */ {
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning /* Warnings that are separate from div.messages status messages. */ {
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

div.tabs /* See also the tabs.css file. */ {
}

.region-help /* Help text on a page */ {
}

.more-help-link /* Link to more help */ {
}

.region-content /* Wrapper for the actual page content */ {
	padding-right: 10px;
}

ul.links /* List of links */ {
}

ul.links.inline {
  display: block; /* Let the links be inline, but the container be a block. */
}

ul.links li {
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager /* A list of page numbers when more than 1 page of content is available */ {
  padding: 0;
}

.item-list .pager li /* Each page number in the pager list */ {
  padding: 0 0.5em;
}

.feed-icon /* The link to the RSS or Atom feed for the current list of content */ {
}

.more-link /* Aggregator, blog, and forum more link */ {
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
.region-sidebar-first {
}

.region-sidebar-first .section {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
.region-sidebar-second {
}

.region-sidebar-second .section {
}

/*
 * Footer
 */
.region-footer {
}

/*
 * Page bottom
 */
.region-bottom /* Wrapper for any blocks placed in the page bottom region */ {
}



/* custom */

#block-block-5 { 
	position: relative;
	left: -22px;
}
#block-block-5 {
	/* Required for IE 5, 6, 7 */
    /* ...or something to trigger hasLayout, like zoom: 1; */
    width: 100%; 

    /* Theoretically for IE 8 & 9 (more valid) */
    /* ...but not required as filter works too */
    /* should come BEFORE filter */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";

    /* This works in IE 8 & 9 too */
    /* ... but also 5, 6, 7 */
    filter: alpha(opacity=80);

    /* Older than Firefox 0.9 */
    -moz-opacity:0.8;

    /* Safari 1.x (pre WebKit!) */
    -khtml-opacity: 0.8;

    /* Modern!
    /* Firefox 0.9+, Safari 2?, Chrome any?
    /* Opera 9+, IE 9+ */
    opacity: 0.8;
}
#block-views-images-by-section-block td {
	padding-right: 25px;
}
a {
  text-decoration: none;
}
h1, h2, h3 {
  color: #CE5000;
  font-family: Georgia; 
}
#block-views-frontpage-gallery-block-1 .block-title { 
	display: none
}
.view-frontpage-gallery .views-field-field-image .field-content {
	margin-right: 30px;
	margin-bottom: 30px;
}
.view-frontpage-gallery .col-last .views-field-field-image .field-content {
	margin-right: 0;
}
.view-frontpage-gallery .views-field-title, 
.view-gallery .views-field-title{ 
	display: none
}
.view-gallery td {
	text-align: center;
    vertical-align: top;
    width: 33%;
}
#node-3 .field-name-field-page-image {float: left; margin-right: 30px;}

#block-views-images-by-section-block .copy {
	font-size: .8em;
	margin-bottom:10px;
}
.region-sidebar-second #block-system-main-menu h2 {
	display: none;
}
.region-sidebar-second #block-system-main-menu a {
	color: #808080;
	position: relative;
	top: -3px;
	left: -2px;
}
.region-sidebar-second #block-system-main-menu li {
    list-style-image: url("/sites/all/themes/lizard/images/main-menu-bullet.png");
	text-transform: uppercase;
	font-size: .8em;
	
}
#block-views-images-by-section-block td { padding-right: 25px }
.amenities {
	background: url("/sites/all/themes/lizard/images/amenities.jpg") no-repeat scroll left 40px transparent;
    margin-bottom: 40px;
    min-height: 470px;
    padding-bottom: 20px;
    padding-left: 465px;
    border-top: solid 1px #dee0df;
	padding-top: 15px;
	border-bottom: solid 1px #dee0df;
}
.rates {
	padding-right: 465px;
	background: url("/sites/all/themes/lizard/images/rates.jpg") no-repeat scroll right top transparent;
	min-height: 490px;
	padding-bottom: 20px;
	border-bottom: solid 1px #dee0df;
}
.view-activities .view-header { margin-bottom: 10px; }
.view-activities .views-field-title {
	color: #CE5000;
    font-family: Georgia;
    font-size: 1.25em;
    line-height: .8em;
}
.view-activities .views-field-field-activity-image { float: left; margin-right: 10px;}
.view-activities .views-field-body { min-height: 150px; }